APP_ENV=development
PORT=8080

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=mini_spatial_data
MONGO_COLLECTION=features
MONGO_USERS_COLLECTION=users
CORS_ALLOW_ORIGINS=http://localhost:3000,http://localhost:5173

GOOGLE_CLIENT_ID=
AUTH_REQUIRED=false
AUTH_JWT_SECRET=
AUTH_TOKEN_TTL_HOURS=24
AUTH_COOKIE_NAME=mini_spatial_auth
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax

VALLARIS_ITEMS_URL=https://app.vallarismaps.com/core/api/features/1.1/collections/68db604f6d325faa74ba5bbd/items
VALLARIS_API_KEY=
VALLARIS_IMPORT_LIMIT=100
HTTP_TIMEOUT_SECONDS=30
